@font-face {
  font-family: menuFont;
  src: local('DancingScript-SemiBold'), url(./fonts/menu/static/DancingScript-SemiBold.ttf) format('truetype');
   }

header {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80vh;
  background-image: url(../sass/images/headerBackground.jpg);
}

main{
  border: 3px solid black;
  font-family: menuFont;
  font-size: 40px;
}

